<div class="container">
 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
     <strong> <%=link_to root_path, class:"navbar-brand" do%>Home<%end%></strong>
    </div>
    <ul class="nav navbar-nav">
      <li><%=link_to categories_path(1) do%>Наука<%end%></li>
      <li><%=link_to categories_path(2) do %>Спорт <%end%></li>
      <li><%=link_to categories_path(3) do %>Політика <%end%></li>
      <li><%=link_to categories_path(4) do %>Техніка <%end%></li>
    </ul>
    <% if current_user.nil? %>
    <%= link_to user_session_path do %>
      <ul class="nav navbar-nav navbar-right">
      <span class="glyphicon glyphicon-log-in"></span>  Login
      </ul>
      <%end%>
      <% else %> 
      <%= link_to destroy_user_session_path, method: :delete do %>
      <ul class="nav navbar-nav navbar-right">
      <span class="glyphicon glyphicon-log-out"></span>  Logout
      </ul>
      <%end%>
       <% end %>
  </div>
</nav> 
</div>


